.cls-in{
	background-color: lightskyblue;
	color: blue ;
	font-family: 'Courier New', Courier, monospace;
}

.cls-us{
	background-color: lightsalmon;
	color: red ;
	font-family: 'Courier New', Courier, monospace;
}

.cls-ch{
	background-color: lightcoral;
	color: yellowgreen ;
	font-family: 'Courier New', Courier, monospace;
}