<div style="background-color: turquoise">
	<button (click)="toggle()"> Toggle</button>
	<br>
	<div *ngIf="flag" style="background-color: teal">
		This div wil be dynamically added and removed
	</div>
	<hr>
	<p appMoveChange>
		The Font color and font size will be changed.
	</p>

	<hr>
	Select Country : <select (change)="handleChange($event)">
		<option value="in">India</option>
		<option value="us">US</option>
		<option value="ch">China</option>
	</select>

	<table border="1" [ngClass]="{'cls-in':country=='in','cls-us':country=='us','cls-ch':country=='ch'}">
		<thead>
			<tr>
				<td>Sr. No.</td> <td>Product Id</td><td>Product Name</td><td>Product Price</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of products; let i = index">
				<td>{{i+1}}</td>
				<td>{{p.pid}}</td>
				<td>{{p.pname}}</td>
				<td>{{p.pprice}}</td>
			</tr>
		</tbody>
	</table>
</div>